body {
    background-color: #001f3f; 
    color: #f0f0f0; 
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

nav {
    width: 200px;
    height: 100vh;
    background-color: #00274e; 
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding-top: 20px;
}

nav header{
    margin-bottom: 10px;
    margin-left: 8px;
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #f0f0f0; 
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #000c18; 
}

main {
    margin-left: 220px; 
    padding: 20px;
}

section {
    background-color: #004080; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    nav {
        width: 100%; 
        height: auto;
        position: static;
        overflow-y: visible;
    }

    main {
        margin-left: 0; 
    }

    section {
        margin: 0; 
    }
}

header {
    font-size: 1.5em;
    margin-bottom: 15px;
}

p {
    line-height: 1.5;
    font-size: 17px;
}

code {
    background-color: #00274e; 
    color: #f0f0f0; 
    font-size: 16px;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
    overflow-x: auto;
    white-space: pre-wrap;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

#Introduction {
    background-color: #003366; 
}
